{
	frankenphp
	order php_server before file_server

	# Endpoint d'administration (utilisé par le healthcheck et les métriques)
	admin :2019
}

{$SERVER_NAME:localhost} {
	root /app/public
	encode zstd br gzip

	log {
		output stdout
		format console
	}

	header {
		Strict-Transport-Security max-age=31536000;
		X-Content-Type-Options nosniff
		X-Frame-Options DENY
		Referrer-Policy strict-origin-when-cross-origin
		-Server
	}

	php_server
}
